body {
    background-color: aqua;
}

h1 {
    background-color: azure;
    height: 100px;
    align-items:center;
    text-align: center;
    justify-content: center;
    margin: 50px;
    justify-content: center;
}

main {
    text-align: center;
}

div.container {
    background-color: beige;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

section > div.container > nav ul li {
   list-style-type: none;
   display:grid;
   grid-row: repeat(3,3fr);
   justify-content: center;
   align-items: center;
}

section > div.container > nav ul li:nth-child(1) {
    background-color: blue;
    margin: 10px;
    align-items: center;
    text-align: center;
    color: white;
    height: 30px;
    
}

section > div.container > nav ul li:nth-child(2) {
    background-color: yellow;
    margin: 10px;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}


section > div.container > nav ul li:nth-child(3) {
    background-color: red;
    margin: 10px;
    align-items: center;
    text-align: center;
    
}

section > div.container > nav ul li:nth-child(4) {
    background-color: purple;
    margin: 10px;
    align-items: center;
    text-align: center;
    
}

section > div.container > nav ul li:nth-child(5) {
    background-color: orange;
    margin: 10px;
    align-items: center;
    text-align: center;
    
}

section > div.container > nav ul li:nth-child(6) {
    background-color: blueviolet;
    margin: 10px;
    align-items: center;
    text-align: center;
    
}